@import url("https://fonts.googleapis.com/css2?family=Romanesco&family=Source+Sans+Pro:wght@400;600&display=swap");
@import "../../styles/mixins/breakpoint";

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  // for .app styles
  flex: 1 0 auto;

  padding: 0px 63px;
  display: grid;
  grid-template: 50px auto / 1fr 4fr;
  gap: 0px 20px;
}

@include tablet {
  .main {
    padding: 0px 30px;
  }
}

@include small-tablet {
  .main {
    grid-template: auto 50px auto / 100%;
    gap: 15px 0px;
  }
}

@include mobile {
  .main {
    padding: 0px 10px;
    grid-template: auto auto / 100%;
    gap: 25px 0px;
  }
}
